.parties-container {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
}
.parties-container .party {
  border: 1px solid #7d858d;
  position: absolute;
  height: 12px;
  top: -18px;
  font-size: 12px;
  width: 70%;
  text-align: center;

  .span-title {
    font-weight: bold;
    width: 100%;
    height: 14px;
    font-size: 14px;
    display: inline-block;
    user-select: none;
    color: #2d353d;
    cursor: pointer;
    border-bottom: 1px dashed #7d858d;
    line-height: 10px;
    &:hover{
      color:#000;
    }
  }

  .bottom {
    position: absolute;
    bottom: 0;
    border-top: 1px dashed #7d858d;
    color: #7d858d;
    user-select: none;
    height: 10px;
    line-height: 8px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    &:hover{
      color:#000;
      font-weight: bold;
    }
  }
}
