@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    font-family: 'Roboto Light', sans-serif !important;
    background-color: #adb5bd !important;
}

.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #018a61;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(245, 225, 225);
}

.disabledButton {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #018a61;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(245, 225, 225);
}

.button:hover {
    background-color: #3e8e41
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px rgb(235, 222, 222);
    transform: translateY(4px);
}

.logo-icon path {
    fill: #0dcaf0;
}

.section .title {
    color: #4d555d;
    font-weight: normal;
    font-size: 24px;
}

.section {
    position: relative;
    border: 1px dotted #7d858d;
    padding: 10px;
    margin: 10px;
}

.controls-bar {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 100%;
    display: flex;
    justify-content: end;
}
.controls-bar .btn {
    margin: 2px 2px 2px 10px;
}

.editor {
    width: 100%;
    box-sizing: border-box;
}

.editor > div {
    display: inline-block;
    border: 1px dotted #7d858d;
    padding: 12px;
    margin: 0.5%;
    box-sizing: border-box;
    vertical-align: top;
}
.timeline {
    width: 59%;
    position: relative;
}

.options {
    width: 39%;
}

.btn-grey {
    margin: 2px;
    background-color: #7d858d;
    width: 30px;
    height: 30px;
    font-size: 16px;
    padding: 0;
    &:hover {
        background-color: #5d656d;
        color: #ddd;
    }
    &:disabled {
        background-color: rgba(125, 133, 141, 0.76);
    }
}
