table {
  width: 100%;

  tr {
    box-sizing: border-box;
    padding: 0;


    th {
      border-bottom: 1px dotted #7d858d;
      padding: 0;
    }

    th, td {
      padding: 0 7px;
    }

    th:not(:first-child), td:not(:first-child) {
      border-left: 1px dotted #7d858d;
    }

    th.narrow-column {
      width: 5%;
      font-size: 16px;
      letter-spacing: -1px;
    }

    td.instrument {
      vertical-align: top;
      width: 20%;
      max-width: 20%;
    }
  }
}

